.bg-header{
    padding: 1.5rem;
    background-image: url('../../assets/images/background.jpeg');
    background-size: 200%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem
}
h5{
    font-size: 2.2rem;
}
strong{
    font-size: 1.2rem;
}
h5 small{
    font-size: .9rem;
}
h5 small{
    font-size: .9rem;
    font-weight: 500;
}
.black-inverse{
    background: var(--background-clr);
    border: .1rem solid var(--background-clr);
    color: var(--accent-clr);
}
.self-start{
    align-self: flex-start;
}
.mt-1{
    margin-top: 1rem;
}
.feature{
    color: var(--text-primary-clr);
}
.check{
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    font-size: .9rem;
    background: var(--accent-clr);
    color: var(--background-clr);
    border-radius: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}