.profile{
    width: 5rem;
    aspect-ratio: 1;
    border-radius: 100vw;
    overflow: hidden;
}
.profile-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.rating-star{
    font-size: 1.2rem;
    color: var(--accent-clr);
    margin-right: .3rem;
}
.slick-next::before,
.slick-prev::before{
    display: none;
}
.slick-dots li button::before{
    font-size: 1.3rem;
    color: var(--text-secondary-clr);
}
.slick-dots li.slick-active button::before{
    color: var(--accent-clr);
}
.slick-dots{
    bottom: -80px;
}
.slick-slide{
    padding-inline: 40px;
}
.slick-list{
    padding-inline: -40px;
}